nav(class="visible")
    div
        div
            .logo-container#logo
                .img
                p Jakt Halland

            .menu-toggle#btnMenu
                a <i class="fas fa-bars inactive-link"></i>meny
                a <i class="fas fa-times inactive-link"></i>stäng

        ul.main-nav#menu
            li#nav-1
                a Hem
            li#nav-2
                a Jägarexamen
            li#nav-3
                a Jaktledarutbildning
            li#nav-4
                a Jakt
            li#nav-5
                a Kontakta oss
                
        .shadow-mobile