.landing-page
    div
        div
        div
            p Din guide till jakt i Halland
            span
            p Vi hjälper dig att ta jägarexamen, bli jaktledare och jaga i Halland
        div
            p Nästa kurstillfällen: Intensiv Jägarexamen, den 17-20 September. Jaktledarutbildning, den 29 Augusti.
        div
            button Jägarexamen
            button Kontakta oss
    div