.landing-page
    div
        div
        div
            p Din guide till jakt i Halland
            span
            p Vi hjälper dig att ta jägarexamen, bli jaktledare och jaga i Halland
        div
            p(id="parallaxInfo") Nästa kurstillfällen: ...
        div
            button#parallax-1 Jägarexamen
            button#parallax-2 Kontakta oss
    div
    div
        div
        div