.landing-page
    div
        header
        .text-container
            p Din guide till jakt i Halland
            span
            p Vi hjälper dig att ta jägarexamen, bli jaktledare och jaga i Halland
        .img
        .button-container
            button#parallax-1 Jägarexamen
            button#parallax-2 Kontakta oss
        .announcement
            div
                p(id="parallaxInf") Nästa kurstillfällen: ...: Intensiv Jägarexamen, den 17-20 September och 17-20 September. Jaktledarutbildning, den 29 Augusti. 
    .background-block