.landing-page
    div
        header
        .text-container
            p Din guide till jakt i Halland
            span
            p Vi hjälper dig att ta jägarexamen, bli jaktledare och jaga i Halland
        .img
        .button-container
            button#parallax-1 Jägarexamen
            button#parallax-2 Kontakta oss
        .announcement
            div
                p(id="parallaxInfo") Nästa kurstillfällen: ...
    .background-block