<div class="thumbnail-container">
	<div id="thumbnail-1" class="lazy">
		<div>
			<p>Jägarexamen</p>
			<span></span>
			<p>Ta jägarexamen med lugn eller intensiv takt, under ett samlat pris.</p>
		</div>
		<div class="circle-arrow-thumbnail">
			<span>
				<div>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</span>
		</div>
	</div>

	<div id="thumbnail-2" class="lazy">
		<div>
			<p>Jaktledarutbildning</p>
			<span></span>
			<p>Lär dig allt som behövs för att bli en bra jaktledare.</p>
		</div>
		<div class="circle-arrow-thumbnail">
			<span>
				<div>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</span>
		</div>
	</div>
	<div id="thumbnail-3" class="lazy">
		<div>
			<p>Jakthelg i Halland</p>
			<span></span>
			<p>Bock-, Gris-, Rådjursjakt samt transport och hotell med helpension.</p>
		</div>
		<div class="circle-arrow-thumbnail">
			<span>
				<div>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</span>
		</div>
	</div>
</div>