<div class="top-bar ">
    <p id="navbarInfo"></p>
</div>
<nav id="navbar">
    <div>
        <div class="icon-container" id="icon">
            <div></div>
            <p>Jakt Halland</p>
        </div>

        <div class="middle-text-container">
            <p>info@jakthalland.se</p>
        </div>

        <div class="navbar-toggle" id="btnMenu">
            <a><i class="fas fa-bars inactive-link"></i>meny</a>
            <a><i class="fas fa-times inactive-link"></i>stäng</a>
        </div>
    </div>
    
    <ul class="main-nav" id="menu">
        <li id="nav-1">
            <a>hem</a>
        </li>
        <li id="nav-2">
            <a>jägarexamen</a>
        </li>
        <li id="nav-3">
            <a>jaktledarutbildning</a>
        </li>
        <li id="nav-4">
            <a>jakt helg i halland</a>
        </li>
        <li id="nav-5">
            <a>kontakta oss</a>
        </li>
    </ul>
</nav>