<div class="parallax-container">
	<div>
		<p>Förmedlaren av naturupplevelser och utbildning</p>
		<span></span>
		<p>Vi hjälper dig att ta jägarexamen, bli jaktledare och jaga i Halland</p>
		<div>
			<button id="btn-parallax-1"><i class="far fa-eye"></i> Jägarexamen</button>
			<button id="btn-parallax-2"><i class="fas fa-envelope"></i> Kontakta oss</button>
		</div>
	</div>
	<div></div>
	<div></div>
	<div class="circle">
		<span id="parallax-circle">
			<div>
				<span></span>
				<span></span>
			</div>
		</span>
	</div>
</div>