nav
    position: fixed
    top: 0
    z-index: 4
    width: 100%
    background-color: #fff
    transition: all .3s ease-in-out
    padding: 25px 25px 70px 25px
    margin: -110px 0 0 0
    @include tablet
        padding: 40px 50px 70px 50px
    @include mediumDesktop
        padding: 40px 120px 70px 120px
    & > div
        position: relative
        @extend .wrapper
        max-width: 1680px !important
        min-width: 265px !important

        .img, p, a
            @extend .inactive-link
            @extend .disable-higlight

        li
            @extend .disable-higlight

        .menu-toggle, li, .logo-container
            @extend .pointer

        & > div
            & > .logo-container
                position: absolute
                top: 0
                left: 0
                display: flex
                align-items: center
                @include tablet
                    top: -10px
                & > .img
                    background: url(../img/icon_trans_cut-80x80.png)
                    background-size: contain
                    background-repeat: no-repeat
                    height: 50px
                    width: 50px
                    @include tablet
                        height: 60px
                        width: 60px
                & > p
                    text-align: center
                    text-transform: uppercase
                    color: #C5AB4E
                    font-size: 22px
                    margin: 0 0 0 20px
                    @include largeMobile
                        font-size: 30px
                    @include tablet
                        font-size: 35px
                &:hover
                    & > p
                        padding: 6px 0 4px 0
                        border-bottom: 2px #C5AB4E solid

            & > .menu-toggle
                display: flex
                align-items: center
                position: absolute
                top: 0
                right: 0
                height: 50px
                @include smallMobile
                    width: 110px
                @include largeMobile
                    width: 125px
                    top: -10px
                    height: 60px
                @include largeTablet
                    display: none
                & > a
                    text-transform: uppercase
                    color: #C5AB4E
                    font-size: 0
                    @include smallMobile
                        font-size: 22px
                    @include largeMobile
                        font-size: 30px
                    & > i
                        @include smallMobile
                            padding: 0 10px 0 0
                & > a:nth-child(1)
                    & > i
                        font-size: 22px
                        @include smallMobile
                            font-size: 21px
                        @include largeMobile
                            font-size: 29px
                & > a:nth-child(2)
                    display: none
                    & > i
                        font-size: 22px
                        @include largeMobile
                            font-size: 30px
                &.open
                    & > a:nth-child(1)
                        display: none
                        i
                            display: none
                    & > a:nth-child(2)
                        display: block

        & > .main-nav
            display: none
            position: absolute
            top: -10px
            right: 0
            width: percentage(1000/1680)
            height: 60px
            @include largeTablet
                display: flex
                justify-content: space-between
                align-items: center
            @include mediumDesktop
                width: percentage(975/1680)
            & > li
                font-size: 20px
                color: #C5AB4E
                @include largeDesktop
                    font-size: 25px

            & > li:hover
                @include largeTablet
                    padding: 6px 0 4px 0
                    border-bottom: 2px #C5AB4E solid

    &.transparent
        @include largeMobile
            background-color: transparent
            & > div
                & > .main-nav
                    @include tablet
                        & > li
                            color: #fff
                        & > li:nth-child(1), & > li:nth-child(2)
                            color: #C5AB4E
                        & > li:hover
                            @include largeTablet
                                border-bottom: 2px #C5AB4E solid
                            
    &.open
        background-color: #fff
        & > div
            & > div
                & > .menu-toggle
                    & > a:nth-child(1)
                        display: none
                    & > a:nth-child(2)
                        display: block

            & >.main-nav
                display: block
                top: 65px
                left: -25px
                width: 100vw
                background-color: #fff
                height: auto
                @include tablet
                    left: -50px
                & > li
                    text-transform: uppercase
                    padding: 25px 25px
                    color: #223D6E
                    border-bottom: 2px #f8f9fa solid
                    font-size: 22px
                    width: auto
                    @include largeMobile
                        font-size: 25px
                    @include tablet
                        font-size: 30px
                        padding: 25px 65px
                & > li:first-child
                    border-top: 2px #f8f9fa solid
                & > li:hover
                    background-color: #f8f9fa

            .shadow-mobile
                z-index: -1
                height: 100vh
                width: 100vw
                position: absolute
                top: 70px
                left: -25px
                background-color: rgba(0, 0, 0, 0.5)
                @include tablet
                    left: -50px

    &.visible
        margin: 0

                    