DOCTYPE
html
	include includes/head.pug

	body(style)

		include includes/navbar.pug

		include includes/main.pug

		include includes/form.pug

		include includes/footer.pug

	include includes/scripts.pug