DOCTYPE
html
	include includes/_head.pug

	body

		include includes/_navbar.pug

		main
			include includes/_parallax.pug
			include includes/_thumbnail.pug
			include includes/_article.pug
			include includes/_form.pug

		include includes/_footer.pug

	include includes/_scripts.pug